#main {
  display: flex;
  height: 100%;

}

body {
  background: rgb(0,124,68);
  background: linear-gradient(90deg, rgba(0,124,68,1) 0%, rgba(252,254,127,1) 100%);
  padding-top: 300px;
}

img {
  height: 200px;
  width: 200px;
  margin: auto;
  border: 3px solid black;
  border-radius: 50%;
}

#sus {
  width: 100%;
  display: flex; 
  margin: auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0,124,68);
  background: linear-gradient(90deg, rgba(0,124,68,1) 0%, rgba(252,254,127,1) 100%);


}

button {
  padding: 0.5em 1em;
  background: #138B4B;
  color: white;
  border: none;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
}

button:hover {
  background-color: rgb(88, 88, 88);
}

button:active {
  background-color: rgb(44, 44, 44);
}

#button-send { 
  flex-shrink: 0;
  border: 3px solid black;
  box-shadow: 2px 2px black;
  font-size: 30px;
}

#button-send:focus {
  outline: none;
}

#message-input {  
  font-size: 35px;
  flex: 1;  
  margin-right: 0.5em;
  border: 4px solid black;
  border-radius: 10px;
  font-style: italic;
  box-shadow: 2px 2px black;
  padding: 15px;
}

#chat-footer {
  padding: 5%;
}

